.footer-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.social-media-container {
    height: 100%;
    width: 20%;
    min-width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: white;
    padding: 0px 30px

}

.icon {
    text-align: center;
    margin: auto;
}

.credits-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.credits {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding-right: 30px;
}

.credits > a {
    text-decoration: none;
    color: white;
}


@media(min-width:900px){

}