@import "fa.css";
@import "header.css";

html, body {
    margin: 0;
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas: 
        "hd"
        "ct"
        "ft";
}

.sidebar{
    display: none;
}

.content-container{
    grid-area: ct;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: auto;
}

.post-background-image-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 400px;
    background: linear-gradient(0deg, rgba(0,0,0,0.8491771708683473) 0%, rgba(0,0,0,0.2805497198879552) 50%, rgba(0,212,255,0) 100%),url("/assets/highlight.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

.post-title-area {
    max-width: 800px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 30px;
}

.post-title-container {
    width: 90%;
}

.post-title {
    font-family: 'Public Sans', sans-serif;
    font-weight: 700;
    font-size: min(10vw,2.5em);
    margin-bottom: 2.7vh;
    color: white;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    padding: 20px 30px;
}

.post-author-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    border-bottom: 1px #e8e5e5 solid;
    padding-bottom: 20px;
}

.author-image{
    height: 100%;
    border-radius: 50%;
}

.name-date-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: black;
    font-size: 11px;
    margin-left: 20px;
}

.author-name {
    border-bottom: 1px #e8e5e5 solid;
    padding-bottom: 20px;
}

.post-text-container{
    margin-top: 12px;
}

.post-text{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 300;
    color: #494949;
    margin-bottom: 3.5vh;
    line-height: 1.8em;
}

.post-text > p {
    margin-bottom: 50px;
}

.footer{
    grid-area: ft;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: black;
}

.footer-container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.social-media-container {
    height: 100%;
    width: 20%;
    min-width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: white;
    padding: 0px 30px

}

.icon {
    text-align: center;
    margin: auto;
}

.credits-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.credits {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    padding-right: 30px;

}



@media(min-width:900px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 12vh auto 10vh;
        grid-template-areas: 
            "hd hd hd"
            "ct ct ct"
            "ft ft ft";
    }

    .content-container{
        grid-area: ct;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;

    }

    .post-background-image-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 60vh;
        background: linear-gradient(0deg, rgba(0,0,0,0.8491771708683473) 0%, rgba(0,0,0,0.2805497198879552) 50%, rgba(0,212,255,0) 100%),url("/assets/wide.jpg");
        background-size: cover;
        background-position: top;
    }

    .post-title-area {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 800px;
        width: 100%;
        padding: 30px 30px;
    }

    .post-title-container {
        width: 90%;
    }

    .post-title {
        font-family: 'Public Sans', sans-serif;
        font-weight: 700;
        font-size: 4em;
        margin-bottom: 2.7vh;
        color: white;
    }

    .post-area {
        width: 100%;
        max-width: 800px;
    }

    .post-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        padding: 20px 30px;
    }

    .post-author-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80px;
        border-bottom: 1px #e8e5e5 solid;
        padding-bottom: 20px;
    }

    .author-image{
        height: 100%;
        border-radius: 50%;
    }

    .name-date-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        font-family: 'Public Sans', sans-serif;
        font-weight: 400;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: black;
        font-size: 11px;
        margin-left: 20px;
    }

    .author-name {
        border-bottom: 1px #e8e5e5 solid;
        padding-bottom: 20px;
    }

    .footer{
        grid-area: ft;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        background-color: black;
    }
}